$font-family:
  'Roboto',
  system-ui,
  -apple-system,
  Segoe UI,
  Roboto,
  Helvetica,
  Arial,
  sans-serif;

$bg-overlay: rgba(0, 0, 0, 0.25);

$radius: 1rem;

$shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.2);
